$almost-white: hsl(0, 0%, 98%);
$almost-black: hsl(0, 0%, 8%);
$themeRedColor1: hsl(4%, 100%, 67%); // #ff6257
$themeBlueColor1: hsl(246°, 100%, 60%); // #4530ff
$themePurpleColor1: hsl(299°, 83%, 53%); // #e724eb
$settingsGrey: hsl(0°, 0%, 88%); // #e0e0e0
