@import "./colors";

body {
  background-color: #2f3169;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appHeader {
  margin: 30px 0 30px 0;

  h1 {
    color: $almost-white;
  }
}

#timerTypeContainer {
  display: flex;
  flex-direction: row;
  background-color: #21234a;
  border-radius: 30px;
  padding: 3px 3px;
}

.timerType {
  cursor: pointer;
  border-radius: 30px;
  padding: 0 25px;
  margin: 0 1px;

  p {
    color: $almost-white;
  }
}

#timerContainer {
  background-color: #21234a;
  // background-color: #2f3169;
  box-shadow: 0 0 100px 10px rgba(65, 68, 145, 1);
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerAnimContainer {
  background-color: orange;
  width: 90%;
  height: 90%;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerTextContainer {
  cursor: pointer;
  background-color: #21234a;
  width: 93%;
  height: 93%;
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $almost-white;
}

#timerTimeText {
  font-size: 90px;
  font-weight: 800;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#timerStartStopText {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  margin-top: 250px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

#settingsButtonContainer {
  cursor: pointer;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/settingsImg.svg");
  margin-top: 40px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7494%) hue-rotate(297deg) brightness(103%) contrast(103%);
}

#settingsButtonContainer:hover {
  opacity: 1;
}
