body {
  background-color: #2f3169;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#appHeader {
  margin: 30px 0 30px 0;
}

#appHeader h1 {
  color: #fafafa;
}

#timerTypeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #21234a;
  border-radius: 30px;
  padding: 3px 3px;
}

.timerType {
  cursor: pointer;
  border-radius: 30px;
  padding: 0 25px;
  margin: 0 1px;
}

.timerType p {
  color: #fafafa;
}

#timerContainer {
  background-color: #21234a;
  -webkit-box-shadow: 0 0 100px 10px #414491;
          box-shadow: 0 0 100px 10px #414491;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timerAnimContainer {
  background-color: orange;
  width: 90%;
  height: 90%;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timerTextContainer {
  cursor: pointer;
  background-color: #21234a;
  width: 93%;
  height: 93%;
  border-radius: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fafafa;
}

#timerTimeText {
  font-size: 90px;
  font-weight: 800;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#timerStartStopText {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  margin-top: 250px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

#settingsButtonContainer {
  cursor: pointer;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/settingsImg.svg");
  margin-top: 40px;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7494%) hue-rotate(297deg) brightness(103%) contrast(103%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7494%) hue-rotate(297deg) brightness(103%) contrast(103%);
}

#settingsButtonContainer:hover {
  opacity: 1;
}

#settingsPageContainer {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#settingsContainer {
  background-color: #fafafa;
  width: 500px;
  border-radius: 10px;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.settingsHr {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#settingsHeaderContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#settingsHeaderText {
  font-size: 28px;
  font-weight: 800;
  color: #141414;
  margin: 0;
}

#settingsHeaderCloseButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/closeImg.svg");
}
/*# sourceMappingURL=styles.css.map */