@import "./colors";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;700;900&display=swap");

html {
  font-family: "Roboto";
}

body {
  background-color: #2f3169;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appHeader {
  margin: 30px 0 30px 0;

  h1 {
    color: $almost-white;
  }
}

#timerTypeContainer {
  display: flex;
  flex-direction: row;
  background-color: #21234a;
  border-radius: 30px;
  padding: 3px 3px;
}

.timerType {
  cursor: pointer;
  border-radius: 30px;
  padding: 0 25px;
  margin: 0 1px;

  p {
    color: $almost-white;
  }
}

#timerContainer {
  background-color: #21234a;
  // background-color: #2f3169;
  // box-shadow: 0 0 100px 10px rgba(65, 68, 145, 1);
  box-shadow: 0 0 100px 10px rgba(255, 255, 255, 0.1);
  margin-top: 50px;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerAnimContainer {
  background-color: orange;
  width: 90%;
  height: 90%;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timerTextContainer {
  cursor: pointer;
  background-color: #21234a;
  width: 93%;
  height: 93%;
  border-radius: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $almost-white;
}

#timerTimeText {
  font-size: 90px;
  font-weight: 800;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

#timerStartStopText {
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  margin-top: 250px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

// SETTINGS

#settingsButtonContainer {
  cursor: pointer;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/settingsImg.svg");
  margin-top: 40px;
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7494%) hue-rotate(297deg) brightness(103%) contrast(103%);
}

#settingsButtonContainer:hover {
  opacity: 1;
}

#settingsPageContainer {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

#settingsContainer {
  background-color: $almost-white;
  width: 500px;
  border-radius: 10px;
  padding: 20px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.settingsHr {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#settingsHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#settingsHeaderText {
  font-size: 28px;
  font-weight: 800;
  color: $almost-black;
  margin: 0;
}

.settingsSubTitleText {
  color: $almost-black;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#settingsHeaderCloseButton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/closeImg.svg");
}

#settingsHeaderCloseButton:hover {
  opacity: 0.5;
}

#settingsTimeTitleText {
}

#settingsTimesContainer {
  display: flex;
  justify-content: space-between;
}

.settingsTimeContainer {
  width: 100%;
}

.settingsTimeTitleText {
  color: #757575;
  font-weight: 800;
  font-size: 12px;
}

.settingsTimeEditText {
  background-color: $settingsGrey;
  width: 80%;
  border-radius: 10px;
  padding: 10px 15px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#settingsFontContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#settingsFontText {
}

#settingsFontChooserContainer {
  display: flex;
}

.fontBox {
  color: $almost-black;
  cursor: pointer;
  background-color: $settingsGrey;
  padding: 10px;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  p {
    font-size: 16px;
  }
}

#fontBoxOne {
  font-family: "Roboto";
  background-color: $almost-black;
  color: $almost-white;
}

#fontBoxTwo {
  font-family: "Montserrat";
}

#fontBoxThree {
  font-family: "Fira Sans Condensed";
}

#settingsColorContainer {
  display: flex;
  justify-content: space-between;
}

#settingsColorChooserContainer {
  display: flex;
}

.colorBox {
  color: $almost-black;
  cursor: pointer;
  padding: 10px;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#colorBoxOne {
  background-color: $themeRedColor1;
}

#colorBoxTwo {
  background-color: $themeBlueColor1;
}

#colorBoxThree {
  background-color: $themePurpleColor1;
}

.colorCheck {
  width: 30px;
  height: 30px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./public/doneImg.svg");
  display: none;
}

#colorCheckRed {
  display: flex;
}

#settingsApplyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#settingsApplyButton {
  cursor: pointer;
  background-color: $themeRedColor1;
  display: flex;
  border-radius: 30px;
  padding: 15px 70px;
  margin-bottom: -50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  p {
    margin: 0;
    color: white;
    font-weight: 800;
    font-size: 16px;
  }
}

#settingsApplyButton:hover {
}
